 #displayQuote, #click {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 30px;
    font-size: 4vw;
    font-style: italic;
}

#btn {
    background-color: red;

    display: flex;
    justify-content: center;
    justify-items: center;

    margin-top: 30px;
    font-size: 3vw;
}

body {
    background-image: linear-gradient(to left, #a8edea 0%, #fed6e3 100%);
}